.button-main-menu{
    background-color: #A9D3FF;
    width: 50%;
    height: 50px;
    line-height: 50px;
    opacity: 0.7;
    border-radius: 10px;
}
.button-main-menu:hover{
    background-color: #A9D3FF;
}