.table-member{
    margin-top: 5px;
    border: solid 1px black;
    /* background-color: red; */
    width: 90%;
    height: 70vh;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}